html {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Comfortaa";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #7bcbf4;
  max-width: 100%;
}
